@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.small-primary-button {
  @apply text-white bg-primary font-semibold hover:bg-blue-800;
}

.small-secondary-button {
  @apply text-black bg-secondary font-semibold hover:bg-blue-300;
}

.flex-around {
  @apply flex justify-around items-center;
}

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6 bg-background;
}

.input {
  @apply border-0 rounded-md outline-none p-2 w-full ring-1 ring-inset ring-slate-300 focus:ring-2 focus:ring-inset focus:ring-blue-500
}

.big-blue-button {
  @apply w-full bg-primary text-white font-semibold px-2 py-3 rounded-md hover:bg-blue-800
}

.medium-blue-button {
  @apply w-36 bg-primary text-white font-semibold py-2 rounded-md hover:bg-blue-800
}

.small-blue-button {
  @apply w-32 bg-primary text-white font-semibold py-[5px] rounded-md hover:bg-blue-800
}

.big-white-button {
  @apply w-full border border-black px-2 py-3 rounded-md font-semibold hover:bg-blue-50/80 hover:text-blue-600
}

.small-gray-button {
  @apply w-32 bg-gray-300 text-black font-semibold py-[5px] rounded-md hover:bg-gray-400
}

.small-light-blue-button {
  @apply w-32 bg-blue-200 text-white font-semibold py-[5px] rounded-md hover:bg-blue-300
}

.medium-red-button {
  @apply w-36 bg-red-500 text-black font-semibold py-2 rounded-md hover:bg-red-800
}

.transfrom-action {
  @apply transform transition-transform hover:scale-105;
}

.rotate-right-action {
  @apply transform rotate-[-90deg] duration-300;
}

.rotate-left-action {
  @apply transform rotate-[0deg] duration-300;
}

.hidden-action {
  @apply hidden transition duration-300 delay-300;
}